.shortcut-container {
    padding: 8px 8px 8px 0px;
}

.shortcut {
    margin: 0 0 0 8px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.shortcut:hover {
    background-color: #45a049;
}

.shortcut-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.shortcut-tooltip .shortcut-tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Place the tooltip above the text */
    left: 50%;
    margin-left: -75px;
    /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.shortcut-tooltip:hover .shortcut-tooltip-text {
    visibility: visible;
    opacity: 1;
}

.shortcut-tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    /* Place the arrow below the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.multiline {
    white-space: pre-wrap;
}